<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj proizvod</title>
</head>
<body class="container">
    <h1>Dodaj proizvod</h1>
    <form method="POST" action="/dodaj_proizvod">
        <label for="naziv">Naziv:</label>
        <input type="text" name="naziv" required>
        <br>
        <label for="cijena">Cijena:</label>
        <input type="number" name="cijena" step="0.01" required>
        <br>
        <button type="submit">Dodaj proizvod</button>
    </form>
    <a href="/proizvodi">Povratak na proizvode</a>
</body>
</html>
